.home{

}

/* .container-fluid{
  padding: 3% 15%
} */

.mini-table{
  background-color: powderblue;
}

/* Navigation bar */
/* .navbar-brand{

} */

/* Testimonials */
#testimonials{
  padding: 7% 15%;
  background-color: #ef8172;
  margin: 20px 20px;
}

p{
  color: grey;
}

/* services */
#services{
  background-color: silver;
  margin: 20px 20px;
}

hr{
  border-style: dotted;
}

.section-padding{

}


/* .image1{
  margin: auto;
} */
